.add-comment {
  padding: 0 20px;
}

.add-comment__date {
  display: block;
}
.add-comment__input-wrap {
  display: inline-block;
}

.add-comment__redirect {
  margin: 10px;
  display: block;
  text-decoration: none;
  font-size: 20px;
}
