.current-post__image-wrap {
  max-height: 500px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #333;
}

.current-post__image {
  object-fit: contain;
}

.current-post__user {
  display: flex;
  align-items: center;
}

.current-post__user-name {
  margin-bottom: 0;
  margin-right: 10px;
}